.auth-container {

  height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;

  background: #f4f7fb;
}

.auth-card {

  width: 420px;

  padding: 40px;

  border-radius: 20px;

  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.08);
}

.title {

  font-size: 32px;

  font-weight: 700;

  margin-bottom: 8px;

  text-align: center;
}

.subtitle {

  text-align: center;

  color: #666;

  margin-bottom: 32px;
}

.full-width {

  width: 100%;
}

.login-btn {

  height: 48px;

  margin-top: 8px;

  border-radius: 10px;
}

.footer-text {

  margin-top: 24px;

  text-align: center;

  color: #666;
}

.footer-text a {

  text-decoration: none;

  font-weight: 600;

  margin-left: 6px;
}

.error {

  color: red;

  margin-top: 12px;

  text-align: center;
}